.login {
    max-width: 30%;
    margin: auto;
}

.general {
    font-size: 3vw;
    color: white;
    margin-left: 1vw;
}

.note {
    font-size: 2vw;
    color: black;
}

/* Inactive tabs */
.tabs a:defined {
    background-color: darkblue;
    color: white;
    font-size: 2vw;
    width: 50%;
    text-align: center;
}
.tabs a:hover {
    background-color: blue;
    color: white;
    font-size: 2vw;
    width: 50%;
    text-align: center;
}

/* Active tab */
.tabs a.active:defined {
    background-color: white;
    color: darkblue;
    font-size: 2vw;
    width: 50%;
    text-align: center;
}